/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color:powderblue;
    padding: 10px 30px;
    display: flex;
}

.profile-img {
    max-width: 25%;
    height: auto;
    border-radius : 100%;
    border: 2px gray;
  }

@media (min-width:576px){
    img {
    max-width: 100%;
    height: auto;
    }
}

#about-me {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a:hover {
    text-decoration: none;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}