/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color:powderblue;
    padding: 10px 30px;
    display: flex;
}

.profile-img {
    max-width: 100%;
    width: 20%;
    height: auto;
    border-radius : 100%;
    border: 2px solid powderblue;
  }

.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    font-size: 2rem;
    margin: 30px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.bio {
    border: 2px solid powderblue;
    border-radius: 5px;
    margin: 20px;
    max-width: 60%;
}

.skills-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid powderblue;
    max-height: 300px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

a:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    text-align: center;
    background-color:powderblue;
    padding: 20px;
    color: white;
}